.a11y-report-generator button {
	background: none;
	border: none;
	color: #eee;
	padding: 0 8px 0 7px !important;
}

.a11y-sr-text {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	-webkit-clip-path: inset(50%);
    clip-path: inset(50%);
	border: 0;
}

.a11y-dialog {
	font-family: arial, sans-serif;
}

/* -------------------------------------------------------------------------- *\
 * Necessary styling for the dialog to work
 * -------------------------------------------------------------------------- */

.a11y-dialog[aria-hidden="true"] {
  display: none;
}

/* -------------------------------------------------------------------------- *\
 * Styling to make the dialog look like a dialog
 * -------------------------------------------------------------------------- */

.a11y-dialog-overlay {
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.66);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.a11y-dialog-content {
  background-color: rgb(255, 255, 255);
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.a11y-dialog-content p.a11y-summary {
	white-space: pre-line;
}

/* -------------------------------------------------------------------------- *\
 * Extra dialog styling to make it shiny
 * -------------------------------------------------------------------------- */

.a11y-dialog a {
	text-decoration: underline;
}

.a11y-dialog-content {
  padding: 1em;
  max-width: 90%;
  width: 1200px;
  max-height: 90%;
  border-radius: 2px;
  overflow-y: scroll;
}

@media screen and (min-width: 980px) {
	.a11y-test-content {
		display: grid;
		grid-template-columns: 50% 50%;
	}
}

#a11y-report-content {
	padding: 1em 0;
	font-size: 0.9em;
}

#a11y-report-content li:before {
	display: none;
}

#a11y-report-content li.a11y-report-entry {
	list-style: none;
	padding: 1em;
}

#a11y-report-content li.a11y-report-entry:nth-child(even) {
	background-color: #f2f2f2;
}

.a11y-test-info, .a11y-test-html {
	padding: 2rem;
}

.a11y-html-code {
	background: #f2f2f2;
	padding: 1.5rem;
}

.a11y-html-code code {
	background-color: #f2f2f2;
	font-family: monospace;
	white-space: normal;
}

@media screen and (min-width: 700px) {
  .a11y-dialog-content {
    padding: 2em;
  }

}

.a11y-dialog-overlay {
  background-color: rgba(43, 46, 56, 0.9);
}

.a11y-dialog h1 {
  margin: 0;
  font-size: 1.25em;
}

.a11y-dialog h2 {
  margin: 1rem 0 0.5rem 0;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.a11y-dialog p {
	margin: 0 0 1rem 0;
}

.a11y-dialog-close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  border: 0;
  padding: 0.5em;
  background-color: #cc0000;
  font-weight: bold;
  font-size: 1.25em;
  line-height: 1em;
  width: auto;
  height: auto;
  text-align: center;
  cursor: pointer;
  transition: 0.15s;
  color: #fff;
}

.a11y-dialog-close:hover, .a11y-dialog-close:focus, .a11y-dialog-close:active {
	background-color: #990000;
}

@media screen and (min-width: 700px) {
  .a11y-dialog-close {
    top: 1em;
    right: 1em;
  }
}

.a11y-dialog-footer {
	font-size: 0.8em;
}

/* Annotated Preview */

.a11y-more-button {
	font-size: 1em;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	background-color: #427E93;
	color: #fff;
	width: 100%;
	margin: 0.5rem 0;
	border: none;
}

.a11y-more-button:hover, .a11y-more-button:focus, .a11y-more-button:active {
	background-color: #326070;
}

.a11y-indicator {
	display: inline-block;
	width: 1em !important;
	height: 1em !important;
	border-radius: 50%;
	margin: 0 0.5rem 0 0 !important;
}

/* Info: Indicates additional best practice not tested by aXe that we want to draw attention to */
.a11y-info {
	outline: 0.25em solid steelblue;
	display: inline-block;
}

		.a11y-info-indicator {
			background-color: steelblue;
		}

		.a11y-info .a11y-annotation {
			z-index: 0;
		}

.a11y-minor {
	outline: 0.25em solid gold;
	display: inline-block;
}

		.a11y-minor-indicator {
			background-color: gold;
		}

		.a11y-minor .a11y-annotation {
			z-index: 10;
		}

.a11y-moderate, .a11y-null {
	outline: 0.25em solid orange;
	display: inline-block;
}

		.a11y-moderate-indicator, .a11y-null-indicator {
			background-color: orange;
		}

		.a11y-moderate .a11y-annotation {
			z-index: 20;
		}

.a11y-serious {
	outline: 0.25em solid coral;
	display: inline-block;
}

		.a11y-serious-indicator {
			background-color: coral;
		}

		.a11y-serious .a11y-annotation {
			z-index: 30;
		}

.a11y-critical {
	outline: 0.25em solid red;
	display: inline-block;
}

		.a11y-critical-indicator {
			background-color: red;
		}

		.a11y-critical .a11y-annotation {
			z-index: 40;
		}

.a11y-issue {
	padding: 0.25em;
	position: relative;
}

.a11y-annotation:focus-within, .a11y-annotation:hover {
	z-index: 99;
}

/*.a11y-issue:hover, .a11y-issue:focus, .a11y-issue:active {
	background-color: yellow !important;
}*/

.a11y-annotation {
	position: absolute;
	left: 50%;
	margin-left: -8.5em;
	/*top: -8.5rem;*/
	bottom: 100%;
	margin-bottom: 0.5rem;
	display: block;
	/*max-width: 50%;*/
	width: 18em;
	height: auto;
	/*border-radius: 0.25rem; */
	padding: 0.5em;
/*	color: #333; 
	text-decoration: none; */
	background-color: #fff;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.3em;
	text-decoration: none;
	/*box-shadow: 0px 0px 5px #666;*/
	border: solid 1px #ccc;
	background: #333;
	color: #fff;
	font-family: arial, sans-serif;
	letter-spacing: 1px;
}

.a11y-annotation:before {
	border-top: 1em solid #333;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    content: '';
    right: 8em;
    bottom: -1em;
    position: absolute;
/*    transform: translateX(-50%);
    -wekbkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);*/
}

.a11y-impact {
	text-transform: capitalize;
}

.a11y-annotation .a11y-help {
	display: block;
	width: 90% !important;
	margin-left: 1.5em;
}

/*.a11y-annotation:hover, .a11y-annotation:focus, .a11y-annotation:active, .a11y-issue:hover .a11y-annotation {
	background-color: yellow;
	color: #000;
	z-index: 1000;
	box-shadow: 0px 0px 5px #ccc;
}*/

.a11y-annotation .a11y-annotation {
	margin-top: 3em;
}